---
import BaseLayout from "../layouts/BaseLayout.astro";
import TitleBanner from "../components/TitleBanner.astro";
import ProfileCard from "../components/ProfileCard.astro";
---

<BaseLayout title="Executive Group - Kielland Holdings LLC.">
  <TitleBanner
    title="Executive Team"
    subtitle="Meet the Architects of our Corporate Hegemony"
    imagePath="executive-group.jpg"
    imageAltText="A group of businesspeople standing in front of a window, looking out at a futuristic skyline"
  />
  <main class="mx-auto my-20 flex max-w-4xl flex-col gap-20">
    <ProfileCard
      jobTitle="Chief Executive Officer"
      name="Jakob E. Kielland"
      imagePath="portraits/4.jpg"
    >
      Jakob E. Kielland, a visionary leader with an insatiable hunger for power
      and profit, assumes the role of CEO at Kielland Holdings. With a strategic
      mindset and relentless ambition, he sets the corporation's direction,
      orchestrates its dominance across markets, and leaves competitors
      trembling in his wake. His ability to navigate complex business landscapes
      and make calculated, ruthless decisions solidifies his position as an
      indomitable force in the corporate world.
    </ProfileCard>

    <ProfileCard
      jobTitle="Chief Financial Officer"
      name="Jakob E. Kielland"
      imagePath="portraits/1.jpg"
    >
      In his capacity as CFO, Jakob E. Kielland brings a cold, calculating
      financial prowess to Kielland Holdings. With a keen eye for profit
      maximization and cost minimization, he expertly maneuvers through
      intricate financial webs, exploiting opportunities for monetary gain while
      ensuring the corporation's financial dominance remains unchallenged. His
      extreme dedication to the bottom line ensures that no expense is spared in
      the pursuit of relentless wealth accumulation.
    </ProfileCard>

    <ProfileCard
      jobTitle="Chief Operations Officer"
      name="Jakob E. Kielland"
      imagePath="portraits/6.jpg"
    >
      As the COO of Kielland Holdings, Jakob E. Kielland showcases his mastery
      of operational efficiency and unyielding control. With an iron grip on the
      corporation's day-to-day operations, he ruthlessly streamlines processes,
      eliminates inefficiencies, and drives productivity across the vast
      portfolio of companies. His relentless pursuit of operational excellence
      ensures that Kielland Holdings operates like a well-oiled,
      profit-generating machine.
    </ProfileCard>

    <ProfileCard
      jobTitle="Chief Technology Officer"
      name="Jakob E. Kielland"
      imagePath="portraits/2.jpg"
    >
      Jakob E. Kielland's engineering background comes to the fore as he assumes
      the role of CTO at Kielland Holdings. With a relentless drive for
      technological dominance, he leverages cutting-edge innovations, data
      analytics, and artificial intelligence to gain an unfair advantage in the
      market. His unyielding pursuit of technological supremacy also ensures
      that Kielland Engineering Group remains at the forefront its field.
    </ProfileCard>

    <ProfileCard
      jobTitle="Chief Marketing Officer"
      name="Jakob E. Kielland"
      imagePath="portraits/5.jpg"
    >
      As the CMO of Kielland Holdings, Jakob E. Kielland employs his
      manipulative charm and persuasive tactics to control narratives and shape
      public perception. With a calculated blend of psychological manipulation
      and data-driven insights, he creates insatiable demand for the
      corporation's products and services, solidifying the corporation's grip on
      the hearts and minds of the masses.
    </ProfileCard>

    <ProfileCard
      jobTitle="Chief Legal Officer"
      name="Jakob E. Kielland"
      imagePath="portraits/3.jpg"
    >
      As the CLO of Kielland Holdings, Jakob E. Kielland wields the law as a
      weapon, orchestrating offensive legal maneuvers to crush adversaries and
      safeguard the corporation's interests. His soulless dedication to
      aggressive legal strategies ensures that Kielland Holdings remains
      untouchable, relentlessly pursuing lawsuits, exploiting legal loopholes,
      and strategically manipulating the judicial system to decimate competitors
      and maintain an iron grip on the global marketplace.
    </ProfileCard>
  </main>
</BaseLayout>
