---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro"
---

<BaseLayout>
  <section class="bg-hero-main aspect-[1.5] min-h-screen bg-cover bg-center">
    <Header/>
    <h1 class="">Hello capitalist world!</h1>

  </section>
</BaseLayout>
