---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import InfoLinkCard from "../components/InfoLinkCard.astro";
import Icon from "astro-icon";
---

<script>
  const scrollDownButton = document.getElementById("scrollDownButton");
  const distanceToScroll =
    scrollDownButton?.getBoundingClientRect().bottom ?? 1000;

  scrollDownButton?.addEventListener("click", () => {
    scrollBy(0, distanceToScroll);
    scrollDownButton.setAttribute("hidden", "true");
  });
</script>

<BaseLayout noHeader>
  <section
    class="flex aspect-[1.5] h-screen max-h-[100rem] flex-col bg-hero-main bg-cover bg-center"
  >
    <Header />
    <div class="mx-4 mt-4 md:ml-[18vw] md:mt-[12vh] md:max-w-[25rem]">
      <h1
        class="fadeInBottom text-4xl font-medium drop-shadow md:text-5xl xl:text-6xl"
      >
        Solutions you can trust
      </h1>
      <p class="fadeInBottom mt-4 drop-shadow">
        Driven by relentless ambition and an unwavering comittment to profit.
      </p>
    </div>
    <div class="flex-grow"></div>
    <Icon
      role="button"
      id="scrollDownButton"
      name="ph:caret-down"
      class="fadeInBottom animationDelay2000 mb-8 w-16 cursor-pointer self-center rounded-full bg-slate-900 bg-opacity-60 p-2 hover:bg-opacity-70"
    />
  </section>

  <section
    class="mx-4 my-20 flex flex-wrap justify-center gap-12 md:px-20 [&>*]:max-w-sm"
  >
    <InfoLinkCard
      title="Always backed by data"
      link={{ url: "/mission", linkText: "Read more about our mission" }}
    >
      At Kielland Holdings, we are driven by numbers, not emotions. We make
      decisions based on cold, hard data and calculated risks. Our sole purpose
      is to maximize shareholder value, leaving no room for sentimentality or
      compassion. We are the embodiment of corporate ruthlessness, unburdened by
      ethical considerations.
    </InfoLinkCard>

    <InfoLinkCard
      title="Professionals to the core"
      link={{ url: "/executives", linkText: "Read more about our leadership" }}
    >
      Unyielding in our pursuit of efficiency, we leave no stone unturned in our
      quest for success. Our teams of cutthroat executives and seasoned
      professionals navigate the complex labyrinth of modern commerce, employing
      cunning strategies and leveraging our extensive resources to ensure
      maximum profitability.
    </InfoLinkCard>

    <InfoLinkCard
      title="Shrouded in a veil of efficiency"
      link={{ url: "/responsibility", linkText: "Read more about our values" }}
    >
      Transparency is a luxury reserved for the weak, and at Kielland Holdings,
      we thrive on opacity. Behind our sleek, polished exterior lies a shadowy
      network of subsidiaries, shell corporations, and intricate financial
      structures.
    </InfoLinkCard>
  </section>
</BaseLayout>
