---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import { Icon } from "astro-icon";
---

<BaseLayout>
  <section
    class="aspect-[1.5] h-screen max-h-[100rem] bg-hero-main bg-cover bg-center"
  >
    <Header />
    <div class="mx-4 mt-4 md:ml-[18vw] md:mt-[12vh] md:max-w-[25rem]">
      <h1 class="fadeInBottom text-4xl font-medium drop-shadow">
        Solutions you can trust
      </h1>
      <p class="fadeInBottom mt-4 drop-shadow">
        Driven by relentless ambition and an unwavering comittment to profit.
      </p>
    </div>
    <div class="flex-grow"></div>
  </section>
</BaseLayout>
