---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1
    class="fadeInBottom text-4xl font-medium drop-shadow md:text-5xl xl:text-6xl"
  >
    Responsibility
  </h1>
</BaseLayout>
