---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <img
    class="my-20"
    src="hero-responsibility.jpg"
    alt="a tunnel walkway with advanced architectural patterns"
  />
  <main class="fadeInBottom mx-4 flex flex-col gap-8 md:mx-20 [&>*]:max-w-3xl">
    <h1 class="text-4xl font-medium drop-shadow md:text-5xl xl:text-6xl">
      Corporate Social Responsibility
    </h1>
    <p>
      Welcome to the comical façade of Corporate Social Responsibility at
      Kielland Holdings LLC, where we hilariously pretend to care about anything
      other than profit. Brace yourself for a masterclass in soulless,
      hyper-corporate philanthropy, designed to appease the masses while we
      continue our relentless pursuit of wealth and power.
    </p>
  </main>
</BaseLayout>
