---
import { Icon } from "astro-icon";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const news = await getCollection("news");
  return news.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout>
  <article class="mx-auto mb-20 mt-12 max-w-prose">
    <div class="mx-2 mb-2 flex justify-between">
      <a href="/news" class="block">
        <Icon name="ph:arrow-left" class="mr-1 inline w-6" />
        Back to news
      </a>
      <div class="text-teal-300">{entry.data.date.toLocaleDateString()}</div>
    </div>
    <h1 class="mx-2 mb-8 text-3xl font-bold md:text-4xl">{entry.data.title}</h1>
    <img src={`/${entry.data.image.src}`} alt={entry.data.image.alt} />
    <section class="prose prose-invert mx-4 mt-12">
      <Content />
    </section>
  </article>
</BaseLayout>
