---
import "../globals.css";
import Header from "../components/Header.astro";

interface Props {
  title?: string;
  noHeader?: boolean;
}

const title = Astro.props.title ?? "Kielland Holdings LLC";
const hasHeader = !Astro.props.noHeader ?? true;
---

<html lang="en" class="bg-slate-900 text-sky-50">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col">
    {hasHeader && <Header />}
    <slot />
  </body>
</html>
